language: python
sudo: true

python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"
  - "nightly"

matrix:
  allow_failures:
    - python: "3.9-dev"
    - python: "nightly"

virtualenv:
  system_site_packages: false

services:
  - postgresql

install:
  - pip install -U pip wheel
  # only wheel
  - pip install -U flake8 pytest pytest-cov
  - pip install psycopg2
  - pip install coverage
  - pip install python-coveralls
  - pip install WebTest
  - pip install colour furl phonenumbers pycountry
  # Waiting awnser next release AnyBlok >= 0.22.6
  - pip install -e git+https://github.com/Anyblok/AnyBlok@master#egg=AnyBlok
  # Waiting restric query by user AnyBlok_Pyramid >= 1.1.2
  - pip install -e git+https://github.com/Anyblok/AnyBlok_pyramid@master#egg=anyblok_pyramid
  - pip install -e .

env:
  global:
    - ANYBLOK_DATABASE_NAME=travis_ci_test
    - ANYBLOK_DATABASE_DRIVER=postgresql
    - ANYBLOK_DATABASE_USER=postgres

script:
  - flake8 anyblok_furetui
  - py.test --cov-report=term --cov=anyblok_furetui anyblok_furetui/tests
  - dropdb travis_ci_test
  - anyblok_createdb --install-bloks furetui-auth furetui-filter-ip
  - py.test --cov-report=term --cov=anyblok_furetui --cov-append anyblok_furetui/furetui anyblok_furetui/ip anyblok_furetui/auth

after_success: coveralls --data_file=.coverage --config_file=.coveragerc
