language: python
sudo: true

python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  - "nightly"

virtualenv:
  system_site_packages: false

services:
  - postgresql

install:
  - pip install -U pip
  # only eggs: do an erreur with wheel
  - if [[ $TRAVIS_PYTHON_VERSION == '3.7-dev' ]]; then pip install python_editor texttable PyYAML simplejson; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 'nightly' ]]; then pip install python_editor texttable PyYAML simplejson; fi
  # only wheel
  - pip install -U flake8 pytest pytest-cov
  - if [[ $TRAVIS_PYTHON_VERSION == '3.4' ]]; then pip install lxml==4.3.5; fi
  - pip install wheel
  - pip install psycopg2
  - pip install anyblok
  - pip install marshmallow --pre
  - pip install coverage
  - pip install python-coveralls
  - pip install flake8 pytest pytest-cov
  - pip install WebTest
  - python setup.py develop

env:
  global:
    - ANYBLOK_DATABASE_NAME=travis_ci_test
    - ANYBLOK_DATABASE_DRIVER=postgresql
    - ANYBLOK_DATABASE_USER=postgres

script:
  - flake8 anyblok_furetui
  - anyblok_createdb --install-bloks furetui
  - py.test --cov-report= --cov=anyblok_furetui anyblok_furetui
  
after_success:
  coveralls --data_file=.coverage --config_file=.coveragerc
