<templates>
    <template id="AnyBlokSystemBlokButton">
        <button data-method="install_blok"
                visible-only-if="fields.state == 'uninstalled'"
                class="is-success">Install this blok</button>
        <div visible-only-if="fields.state != 'uninstalled'">
            <button data-method="uninstall_blok"
                    class="is-danger">Uninstall this blok</button>
            <button data-method="upgrade_blok"
                    visible-only-if="fields.version != fields.installed_version"
            >Upgrade this blok</button>
        </div>
    </template>
    <template id="AnyBlokSystemBlokState">
        <field name="state"/>
        <field name="version" visible-only-if="fields.version != fields.installed_version"/>
        <field name="installed_version" visible-only-if="fields.state != 'uninstalled'"/>
    </template>
    <template id="AnyBlokSystemBlokForm">
        <h1><field name="name" label=""/></h1>
        <div class="columns">
            <div class="column is-2-desktop is-4-tablet">
                <field name="logo" type="File" filename="name" label=""/>
                <call template="AnyBlokSystemBlokButton"/>
            </div>
            <div class="column is-10-desktop is-8-tablet">
                <call template="AnyBlokSystemBlokState"/>
                <field name="short_description" type="RichText"/>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <field name="long_description" type="RichText"/>
            </div>
        </div>
    </template>
    <template id="AnyBlokSystemBlokThumbnails">
        <h2><field name="name" label=""></h2>
        <div class="columns">
            <div class="column is-6-desktop is-6-tablet">
                <field name="logo" type="File" filename="name" label=""></field>
                <call template="AnyBlokSystemBlokButton"/>
            </div>
            <div class="column is-5 is-6-tablet">
                <call template="AnyBlokSystemBlokState"/>
            </div>
        </div>
    </template>
</templates>
