<templates>
    <template id="Login">
        <section class="section">
          <div class="container has-text-centered">
           <div class="columns is-mobile">
             <div class="column is-half is-offset-one-quarter">
               <a class="button is-primary is-fullwidth" v-on:click="logIn">
                 {{ $t('components.login.button') }}
               </a>
             </div>
           </div>
          </div>
        </section>
    </template>
</templates>
