<templates>
    <template id="AnyBlokSystemModelList">
        <field name="name" sortable="True" help= "Name of the model">
        <field name="table" sortable="True">
        <field name="is_sql_model">
    </template>
    <template id="AnyBlokSystemModelForm">
        <field name="name">
        <field name="table">
        <field name="is_sql_model">
    </template>
</templates>
