<templates>
    <template id="FuretUiAbout">
        <section class="section">
          <div class="container has-text-centered">
            <h1>About AnyBlok / Furet UI</h1>
            <ul>
              <li><strong>AnyBlok version</strong> 0.0.0</li>
              <li><strong>Anylok Pyramid version</strong> 0.0.0</li>
              <li><strong>AnyBlok Furet UI version</strong> 0.0.0</li>
              <li><strong>FuretUI version</strong> 0.0.0</li>
            </ul>
          </div>
        </section>
    </template>
</templates>
