<templates>
    <template id="FuretUiAppBarHeaderBrand">
        <furet-ui-appbar-head-router-link to="/" label="AnyBlok / Furet UI"/>
    </template>
    <template id="FuretUiAppBarBody">
        <div />
    </template>
</templates>
