<templates>
    <template id="FuretUiHomePage">
        <div class="container has-text-centered" style="padding-top=30px">
            <h1 class="title">Welcome in AnyBlok / Furet UI</h1>
            <div class="column is-half is-offset-one-quarter">
                <div class="columns">
                    <div class="column is-half">
                      <img class="image" v-bind:src="anyblok_logo" alt="AnyBlok logo">
                    </div>
                    <div class="column is-half">
                      <img class="image" v-bind:src="logo" alt="Furet UI logo">
                    </div>
                </div>
            </div>
        </div>
    </template>
</templates>
