<templates>
    <template id="MyTemplate">
        <div class="container">
            <h1>Welcome into plop</h1>
            <p>This template come from plop.js and plop.tmpl file defined in server side</p>
        </div>
    </template>
</templates>
