<templates>
    <template extend="Login">
        <xpath expression="./section/div/div/div/a" action="insertBefore">
            <furet-ui-app-errors v-bind:errors="errors" />
            <b-field v-bind:label="$i18n.t('components.login.username')">
                <b-input v-model="username" expanded></b-input>
            </b-field>
            <b-field v-bind:label="$i18n.t('components.login.password')">
                <b-input v-model="password" type="password" expanded password-reveal></b-input>
            </b-field>
            <br />
        </xpath>
        <xpath expression="./section/div/div/div/a" action="attributes">
            <attribute v-bind:disabled="is_not_clickable" />
        </xpath>
    </template>
</templates>
